.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskCreateDiv {
  width: 450px;
}

.taskUpdateDiv {
  width: 100%;
}

.taskCreateForm {
  display: flex;
  flex-direction: column;
}

.taskCreateForm label {
  margin: 10px 0px;
}

.taskCreateForm input,textarea {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.taskCreateForm button {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid green;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.taskUpdateDiv form button {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid green;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.TaskList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TaskShowDiv {
    border: 1px solid green;
    border-radius: 30px;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.TaskShowDiv h3 {
  margin-bottom: 5px;
}

.TaskShowDelete {
    padding: 5px;
    font-size: 15px;
    width: 60px;
    border: none;
    border-radius: 30px;
    background-color: red;
    color: white;
    margin-right: 10px;
}

.TaskShowUpdate {
  padding: 5px;
  font-size: 15px;
  width: 90px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
  margin-right: 10px;
}