.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskCreateDiv {
  width: 450px;
}

.taskCreateForm {
  display: flex;
  flex-direction: column;
}

.taskCreateForm label {
  margin: 10px 0px;
}

.taskCreateForm input,textarea {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.taskCreateForm button {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid green;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
